.currency-exchanger {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amount-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exchange-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .currency-exchanger {
        flex-direction: column;
    }

    .amount-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .exchange-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.converter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.convert-block {
    width: 100%;
}

.form-group {
    display: block;
}

.form-label {
    display: block;
    padding: 10px 8px;
    width: 90%;
    font-weight: 600;
}

.form-label-lg {
    font-size: 20px;
}

.text-align {
    text-align: center;
}

.form-input {
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 90%;
}

.form-botton {
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.detail-block {
    width: 100%;
    margin-top: 14px;
    display: flex;
    align-items: center;
}

.converted-data {
    flex:1px;
}

.detail {
    width: 30%;
}