.currency-container {
    position: fixed;
    top: 82px !important;
    background: white;
    max-width: 1100px;
    width: 100%;
}
.chart-container{
    padding-top: 340px;
}
@media only screen and (min-width: 601px) {
    .sticky {
        position: fixed;
        top: 82px !important;
    }
}

